/*body {
  display: flex;
  justify-content: center;
}

@keyframes bg {
  0%, 100% {
    background-color: #001F3F;
  }
  50% {
    background-color: #FF4136;
  }
}

@keyframes txt {
  0%, 100% {
    color: #FFF;
  }
  50% {
    color: #000;
  }
}

@keyframes mv {
  0% {
    justify-content: flex-start;
  }
  50% {
    justify-content: center;
  }
  100% {
    justify-content: flex-end;
  }
}

body {
  animation: mv 2s linear infinite;
}


.ball {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  background-color: yellow;
  animation:
    bg 2s linear infinite,
    txt 2s linear infinite;
}*/

/*.move {
  transform: translateX(500px);
}*/

.tuna {
  /* use the timing function steps() to chunk the animation into 12 equal pieces */
  background: url(http://stash.rachelnabors.com/animation-workshop/sprite_catwalk.png) 0 0 no-repeat;
  animation: tunaWalk 1s steps(12) infinite;
  height: 200px;
  width: 400px;
  margin: 100px auto 0;
}

/* Don't forget: You'll need an @keyframes block to change the background image's position! */
@keyframes tunaWalk {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -2400px;
  }
}
